
.test  {
    display: block;
    width: 100%;
    padding: 5px 0;
}
.container {
  /* width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.range {
  /* display: flex; */
  width: 330px;
}

.range__label {
    position: relative;
    display: block;
    width: 100%;
}

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 100%;
}
.bubble {
  color: #01346C;
  /* padding: 4px 12px; */
  position: absolute;
  /* left: 50%; */
  top: 25px;
  transform: translateX(-50%);
  color: var(--midnight-blue);
  font-family: var(--font-family-inter);
  font-weight: 700;
  min-width: 25px;
  text-align: center;
}

.range__label-min,
.range__label-max {
    position: absolute;
    font-size: 12px !important;
    color: #C9C9C9 !important;
    top: -20px;
    /* top: 3px; */
    font-weight: 900;
  
}

.range__label-min {
    /* left: -20px; */
    left: 0;
}

.range__label-max {
    /* right: -20px; */
    right: 0;
}

.range__slider {
  width: 100%;
  display: block;
  position: relative;
}

.range__value {
  width: 100%;
  text-align: center;
  display: block;
  font-weight: 900;
}

.form-group label {
  text-transform: uppercase;
  font-size: .72rem;
  color: #222;
  margin-bottom: 5px;
}

.form-group span {
  font-size: 2rem;
  font-weight: 600;
  color: #3c3b3b;
}

.range__slider label {
  margin-bottom: 10px;
}

.range__slider [type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 9px;
  border-radius: 6px;
  background: #f1f1f1;
  outline: none;
  padding: 0;
  margin: 0;
}

/* custom thumb */
.range__slider [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #01346C;
  /* border: #f9ca24 5px solid; */
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-webkit-slider-thumb:hover {
  background: #00244B;
}

.range__slider [type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #f0932b;
  border: #f9ca24 5px solid; cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-moz-range-thumb:hover {
  background: #f9ca24;
}

/* remove border */
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}


/* Multi Select */

.multiselect_input {
  margin-top: 10px !important;
  width: 100%;
}

.select2-container--default .select2-selection--multiple {
  background: #f1f1f1 !important;
  border: none !important;
  padding: 10px !important;
}

.select2-search__field {
  font-size: 14px !important;
  margin: 0 !important;
  font-family: var(--font-family-inter) !important;
}

.select2-selection__choice {
  margin: 5px !important;
  background: linear-gradient(to right, #007AFF, #7CE5E0);
  background-size: 150%;
  background-position: 0%;
  font-family: var(--font-family-inter) !important;
  color: #fff !important;
  font-size: 12px !important;
  padding: 5px 20px 5px 5px !important;
  font-weight: 500 !important;
  border: 0 !important;
  transition: all 0.4s;
}

.select2-selection__choice:hover {
  margin: 5px !important;
  background-position: 100% 0;
  transition: all 0.4s;
  cursor: pointer;
}

.select2-selection__choice__display {
  display: block !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border: 0 !important;
  color: #fff !important;
  right: 6px !important;
  display: block;
  height: 100%;
  font-size: 12px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  background: none !important;
}

.select2-dropdown--below {
  background: #f1f1f1 !important;
  border: 0 !important;
  font-family: var(--font-family-inter) !important;
  font-size: 14px;
  padding: 10px 0;
  border-radius: 4px !important;
  margin-top: 8px;
}

.select2-results__options li {
  padding: 15px 10px;
}

.select2-selection__clear {
  color: var(--midnight-blue);
}


.date-input {
  padding: 10px 10px 10px 40px;
  width: 100%;
  background-color: var(--gray-nurse);
  border-radius: 5px;
  border: 0;
  min-height: 32px;
  font-family: var(--font-family-inter) !important;
  font-size: 14px;
  color: #888888;
}

..date-input:focus {
  border: 0 !important;
}

.date-label {
  margin: 10px 0 5px 0;
  width: 100% !important;
}

.icon-cal-override {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.date-container {
  width: 100%;
  position: relative;
}