/* screen - order-history */

.order-history {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1405px;
  width: 1440px;
}

.order-history .navigation {
  align-items: flex-start;
  background-image: url(../img/nav-container@1x.png);
  background-size: 100% 100%;
  display: flex;
  min-width: 1440px;
}

.order-history .overlap-group-container {
  align-items: center;
  background-image: url(../img/background-2@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 125px;
  min-width: 1440px;
  padding: 0 50px;
}

.order-history .overlap-group1 {
  height: 39px;
  position: relative;
  width: 263px;
}

.order-history .divider {
  height: 25px;
  left: 261px;
  position: absolute;
  top: 10px;
  width: 2px;
}

.order-history .logo-1 {
  align-items: flex-start;
  display: flex;
  height: 39px;
  left: 0;
  min-width: 262px;
  position: absolute;
  top: 0;
}

.order-history .logo {
  height: 39px;
  width: 50px;
}

.order-history .multiply-force {
  height: 38px;
  letter-spacing: 2.00px;
  margin-left: 12px;
  width: 200px;
}

.order-history .agora {
  align-self: center;
  height: 23px;
  letter-spacing: 1.44px;
  margin-left: 15px;
  margin-top: 8.0px;
  min-width: 59px;
}

.order-history .overlap-group-4 {
  border-radius: 20px;
  height: 34px;
  margin-bottom: 1.0px;
  margin-left: 960px;
  position: relative;
  width: 117px;
}

.order-history .get-started {
  height: 15px;
  left: 13px;
  letter-spacing: 0.72px;
  position: absolute;
  top: 9px;
}

.order-history .button {
  border-radius: 20px;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 117px;
}

.order-history .sidebar {
  align-items: flex-start;
  display: flex;
  margin-left: 105px;
  margin-top: 92px;
  min-width: 521px;
}

.order-history .sidebar-title {
  height: 24px;
  letter-spacing: 3.00px;
}

.order-history .reorder {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 56px;
  min-height: 440px;
  width: 1233px;
}

.order-history .reorder-header {
  align-items: flex-start;
  display: flex;
  margin-left: 121.0px;
  min-width: 846px;
}

.order-history .title-similar {
  align-items: center;
  display: flex;
  min-width: 38px;
}

.order-history .label-2 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 24px;
  white-space: nowrap;
}

.order-history .info {
  height: 10px;
  margin-left: 5px;
  width: 10px;
}

.order-history .title-instances {
  align-items: center;
  display: flex;
  margin-left: 31px;
  min-width: 68px;
}

.order-history .label-3 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 54px;
  white-space: nowrap;
}

.order-history .title-latency {
  align-items: center;
  display: flex;
  margin-left: 31px;
  min-width: 79px;
}

.order-history .label-4 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 65px;
  white-space: nowrap;
}

.order-history .title-last-price-paid {
  align-items: center;
  display: flex;
  margin-left: 29px;
  min-width: 94px;
}

.order-history .label-5 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 80px;
  white-space: nowrap;
}

.order-history .title-order-again {
  align-items: center;
  display: flex;
  margin-left: 57px;
  min-width: 78px;
}

.order-history .label-6 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 64px;
  white-space: nowrap;
}

.order-history .title-price-this-time {
  align-items: center;
  display: flex;
  margin-left: 248px;
  min-width: 93px;
}

.order-history .label-7 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 79px;
  white-space: nowrap;
}

.order-history .reorder-header-collapsed {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 7px 15px #0000001a;
  display: flex;
  margin-left: 1.0px;
  margin-top: 5px;
  min-width: 1232px;
  padding: 0 9px;
}

.order-history .expand {
  height: 17px;
  margin-bottom: 2.0px;
  width: 17px;
}

.order-history .overlap-group {
  height: 29px;
  margin-left: 24px;
  position: relative;
  width: 110px;
}

.order-history .regions {
  height: 16px;
  left: 0;
  letter-spacing: 0.56px;
  position: absolute;
  top: 13px;
  width: 110px;
}

.order-history .provider {
  height: 20px;
  left: 0;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 78px;
}

.order-history .column-type {
  height: 65px;
  letter-spacing: 0.50px;
  margin-left: 93px;
  width: 47px;
}

.order-history .column-instances {
  height: 65px;
  letter-spacing: 0.50px;
  margin-left: 22px;
  width: 40px;
}

.order-history .address {
  height: 65px;
  letter-spacing: 0.50px;
  margin-left: 59px;
  width: 78px;
}

.order-history .overlap-group-1 {
  height: 65px;
  margin-left: 30px;
  position: relative;
  width: 559px;
}

.order-history .column-latency {
  align-items: flex-start;
  display: flex;
  height: 65px;
  left: 0;
  min-width: 559px;
  position: absolute;
  top: 0;
}

.order-history .cost {
  height: 65px;
  letter-spacing: 0.50px;
  width: 78px;
}

.order-history .cost-1 {
  color: #bbbbbb;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 65px;
  letter-spacing: 0.50px;
  margin-left: 399px;
  width: 78px;
}

.order-history .date-selection {
  align-items: center;
  display: flex;
  height: 43px;
  left: 151px;
  min-width: 300px;
  position: absolute;
  top: 10px;
}

.order-history .form-input-date-reorder {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 43px;
  width: 128px;
}

.order-history .input-label-alt {
  height: 10px;
  letter-spacing: 0.40px;
  width: 67px;
}

.order-history .overlap-group-2 {
  height: 30px;
  margin-top: 3px;
  position: relative;
  width: 158px;
}

.order-history .input-container {
  background-color: var(--gray-nurse);
  border-radius: 5px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 128px;
}

.order-history .placeholder {
  height: 30px;
  left: 35px;
  letter-spacing: 0.45px;
  position: absolute;
  top: 0;
  width: 123px;
}

.order-history .icon-calendar {
  height: 13px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 13px;
}

.order-history .arrow {
  height: 10px;
  margin-left: 12px;
  margin-top: 13.0px;
  width: 20px;
}

.order-history .form-input-date-reorder-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 43px;
  width: 128px;
}

.order-history .button-green {
  align-items: flex-start;
  background-color: var(--japanese-laurel);
  border-radius: 20px;
  display: flex;
  margin-bottom: 2.0px;
  margin-left: 32px;
  min-width: 92px;
  padding: 0 15px;
}

.order-history .configure {
  height: 25px;
  letter-spacing: 0.54px;
  text-align: center;
  width: 62px;
}

.order-history .reorder-header-collapsed-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 7px 15px #0000001a;
  display: flex;
  margin-left: 1.0px;
  margin-top: 30px;
  min-width: 1232px;
  padding: 0 9px;
}

.order-history .reorder-header-expanded {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 7px 15px #0000001a;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 30px;
  min-height: 215px;
  padding: 0 10.0px;
  width: 1232px;
}

.order-history .flex-row {
  align-items: center;
  display: flex;
  min-width: 1203px;
}

.order-history .expand-1 {
  height: 17px;
  margin-bottom: 0;
  width: 17px;
}

.order-history .overlap-group-5 {
  height: 29px;
  margin-left: 23px;
  position: relative;
  width: 110px;
}

.order-history .price {
  height: 65px;
  letter-spacing: 0.50px;
  margin-left: 399px;
  width: 78px;
}

.order-history .overlap-group-3 {
  align-items: center;
  background-color: var(--gray-nurse);
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
  min-width: 128px;
}

.order-history .icon-calendar-1 {
  height: 13px;
  margin-bottom: 0.75px;
  width: 13px;
}

.order-history .placeholder-1 {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 30px;
  letter-spacing: 0.38px;
  margin-left: 7px;
  width: 100px;
}

.order-history .span0 {
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.03px;
}

.order-history .span1 {
  color: var(--black);
  font-weight: 400;
  letter-spacing: 0.03px;
}

.order-history .span2 {
  color: var(--mountain-mist);
  font-weight: 400;
  letter-spacing: 0.03px;
}

.order-history .button-green-1 {
  align-items: flex-start;
  background-color: var(--japanese-laurel);
  border-radius: 20px;
  display: flex;
  margin-left: 33px;
  min-width: 92px;
  padding: 0 15px;
}

.order-history .flex-col {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 55.0px;
  margin-top: 8px;
  min-height: 128px;
  width: 1083px;
}

.order-history .divider-1 {
  height: 1px;
  margin-left: 1px;
  width: 1073px;
}

.order-history .collapsed-table-header {
  align-items: flex-start;
  display: flex;
  margin-top: 26px;
  min-width: 1083px;
}

.order-history .order {
  height: 11px;
  letter-spacing: 0.45px;
  min-width: 42px;
}

.order-history .dates {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 53px;
  min-width: 32px;
}

.order-history .total-hours {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 254px;
  min-width: 69px;
}

.order-history .surname {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 45px;
  min-width: 146px;
}

.order-history .span {
  letter-spacing: 0.04px;
}

.order-history .span1-2 {
  color: var(--celeste);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0.04px;
}

.order-history .market-price-at-the-time-hourly-total {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 55px;
  min-width: 228px;
}

.order-history .span1-1 {
  color: var(--celeste);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0.04px;
}

.order-history .savings-hourly-total {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 33px;
}

.order-history .collapsed-table-content {
  align-items: center;
  display: flex;
  margin-top: 10px;
  min-width: 989px;
}

.order-history .text {
  height: 11px;
  letter-spacing: 0.45px;
  margin-top: 1.0px;
  min-width: 41px;
}

.order-history .chip-alt-date {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  margin-left: 54px;
  min-width: 256px;
  padding: 0 7px;
}

.order-history .label {
  height: 10px;
  letter-spacing: 0.24px;
  min-width: 97px;
}

.order-history .span-1 {
  letter-spacing: 0.02px;
}

.order-history .vector {
  height: 8px;
  margin-left: 17px;
  width: 13px;
}

.order-history .label-1 {
  height: 10px;
  letter-spacing: 0.24px;
  margin-left: 17px;
  min-width: 98px;
}

.order-history .hours {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 30px;
  margin-top: 1.0px;
  min-width: 12px;
}

.order-history .price-you-paid-1 {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 102px;
  margin-top: 1.0px;
  min-width: 51px;
}

.order-history .span1-3 {
  color: var(--silver-chalice-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0.04px;
}

.order-history .market-price-at-the-time {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 150px;
  margin-top: 1.0px;
  min-width: 52px;
}

.order-history .savings {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 209px;
  margin-top: 1.0px;
  min-width: 41px;
}

.order-history .price-you-paid {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 102px;
  margin-top: 1.0px;
  min-width: 52px;
}

.order-history .market-price-at-the-time-1 {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 149px;
  margin-top: 1.0px;
  min-width: 52px;
}

.order-history .market-price-at-the-time-2 {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 149px;
  margin-top: 1.0px;
  min-width: 53px;
}

.order-history .savings-1 {
  height: 11px;
  letter-spacing: 0.45px;
  margin-left: 208px;
  margin-top: 1.0px;
  min-width: 41px;
}

.order-history .footer {
  align-items: flex-end;
  background-color: var(--blue-whale);
  display: flex;
  flex-direction: column;
  margin-top: 527px;
  min-height: 141px;
  padding: 20px 587px;
  width: 1440px;
}

.order-history .logo-footer {
  align-items: flex-start;
  display: flex;
  margin-top: 19px;
  min-width: 264px;
}

.order-history .copyright {
  align-self: center;
  height: 11px;
  letter-spacing: 0.36px;
  margin-top: 32px;
  min-width: 112px;
}
