/* screen - search-results */

.search-results {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1405px;
  width: 1440px;
}

.search-results .navigation {
  align-items: flex-start;
  background-image: url(../img/nav-container@1x.png);
  background-size: 100% 100%;
  display: flex;
  min-width: 1440px;
}

.search-results .overlap-group-container {
  align-items: center;
  background-image: url(../img/background@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 125px;
  min-width: 1440px;
  padding: 0 50px;
}

.search-results .overlap-group1 {
  height: 39px;
  position: relative;
  width: 263px;
}

.search-results .divider {
  height: 25px;
  left: 261px;
  position: absolute;
  top: 10px;
  width: 2px;
}

.search-results .logo-1 {
  align-items: flex-start;
  display: flex;
  height: 39px;
  left: 0;
  min-width: 262px;
  position: absolute;
  top: 0;
}

.search-results .logo {
  height: 39px;
  width: 50px;
}

.search-results .multiply-force {
  height: 38px;
  letter-spacing: 2.00px;
  margin-left: 12px;
  width: 200px;
}

.search-results .agora {
  align-self: center;
  height: 23px;
  letter-spacing: 1.44px;
  margin-left: 15px;
  margin-top: 8.0px;
  min-width: 59px;
}

.search-results .overlap-group-9 {
  border-radius: 20px;
  height: 34px;
  margin-bottom: 1.0px;
  margin-left: 960px;
  position: relative;
  width: 117px;
}

.search-results .get-started {
  height: 15px;
  left: 13px;
  letter-spacing: 0.72px;
  position: absolute;
  top: 9px;
}

.search-results .button {
  border-radius: 20px;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 117px;
}

.search-results .flex-row {
  align-items: flex-start;
  display: flex;
  height: 700px;
  margin-right: 50.0px;
  margin-top: 92px;
  min-width: 1294px;
}

.search-results .sidebar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 658px;
  width: 355px;
}

.search-results .title {
  height: 24px;
  letter-spacing: 3.00px;
}

.search-results .dates-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-top: 36px;
  min-height: 78px;
  width: 350px;
}

.search-results .label {
  align-items: flex-start;
  display: flex;
  min-width: 350px;
}

.search-results .input-label-left-aligned {
  height: 15px;
  letter-spacing: 0.60px;
  width: 350px;
}

.search-results .form-input-date-filled-container {
  align-items: flex-start;
  display: flex;
  height: 56px;
  margin-top: 7px;
  min-width: 350px;
}

.search-results .form-input-date-filled {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 56px;
  width: 165px;
}

.search-results .input-label-alt {
  height: 12px;
  letter-spacing: 0.50px;
  width: 67px;
}

.search-results .overlap-group {
  align-items: center;
  background-color: var(--gray-nurse);
  border-radius: 5px;
  display: flex;
  height: 40px;
  margin-top: 4px;
  min-width: 165px;
  padding: 11px 9px;
}

.search-results .icon-calendar {
  align-self: flex-end;
  height: 17px;
  width: 17px;
}

.search-results .overlap-group-1 {
  height: 12px;
  margin-left: 9px;
  position: relative;
  width: 120px;
}

.search-results .date {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 600;
  height: 12px;
  left: 0;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 67px;
}

.search-results .time {
  height: 12px;
  left: 56px;
  letter-spacing: 0.50px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 64px;
}

.search-results .form-input-date-filled-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 56px;
  width: 165px;
}

.search-results .overlap-group7 {
  height: 47px;
  margin-left: 3px;
  margin-top: 30px;
  position: relative;
  width: 350px;
}

.search-results .input-label-center-aligned {
  align-items: flex-start;
  display: flex;
  height: 15px;
  left: 0;
  min-width: 350px;
  position: absolute;
  top: 0;
}

.search-results .input-label-center-aligned-1 {
  height: 15px;
  letter-spacing: 0.60px;
  text-align: center;
  width: 350px;
}

.search-results .range-slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 35px;
  position: absolute;
  top: 12px;
  width: 350px;
}

.search-results .label-min-value {
  height: 8px;
  letter-spacing: 0.35px;
  opacity: 0.5;
  width: 85px;
}

.search-results .label-max-value {
  height: 8px;
  letter-spacing: 0.35px;
  margin-left: 211px;
  opacity: 0.5;
  text-align: right;
  width: 54px;
}

.search-results .overlap-group-2 {
  height: 15px;
  position: relative;
  width: 350px;
}

.search-results .container {
  background-color: var(--gray-nurse-2);
  border-radius: 8px;
  height: 7px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 350px;
}

.search-results .container-fill {
  height: 7px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 252px;
}

.search-results .thumb-slider {
  background-color: var(--midnight-blue);
  border-radius: 7.5px;
  height: 15px;
  left: 244px;
  position: absolute;
  top: 0;
  width: 15px;
}

.search-results .value {
  height: 10px;
  letter-spacing: 0;
  margin-left: 153.0px;
  margin-top: 2px;
  min-width: 5px;
  text-align: center;
}

.search-results .overlap-group6 {
  height: 47px;
  margin-left: 3px;
  margin-top: 31px;
  position: relative;
  width: 350px;
}

.search-results .input-label-center-aligned-w-context {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  height: 15px;
  letter-spacing: 0.60px;
  text-align: center;
  width: 350px;
}

.search-results .span0 {
  letter-spacing: 0.07px;
}

.search-results .span1 {
  color: var(--mountain-mist-2);
  font-weight: 400;
  letter-spacing: 0.07px;
}

.search-results .span2 {
  color: var(--silver-chalice);
  font-weight: 400;
  letter-spacing: 0.07px;
}

.search-results .container-fill-1 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 175px;
}

.search-results .thumb-slider-1 {
  background-color: var(--midnight-blue);
  border-radius: 7.5px;
  height: 15px;
  left: 167px;
  position: absolute;
  top: 0;
  width: 15px;
}

.search-results .value-1 {
  height: 10px;
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 2px;
  min-width: 6px;
  text-align: center;
}

.search-results .providers {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-top: 30px;
  min-height: 87px;
  width: 350px;
}

.search-results .overlap-group5 {
  border-radius: 5px;
  height: 65px;
  margin-top: 7px;
  position: relative;
  width: 350px;
}

.search-results .input-remove-items-double {
  align-items: flex-start;
  background-color: var(--gray-nurse);
  border-radius: 5px;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  left: 0;
  min-width: 350px;
  padding: 13px 15px;
  position: absolute;
  top: 0;
}

.search-results .clear {
  height: 14px;
  width: 14px;
}

.search-results .chip-1 {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  height: 20px;
  left: 10px;
  min-width: 70px;
  position: absolute;
  top: 10px;
}

.search-results .overlap-group-10 {
  height: 16px;
  position: relative;
  width: 44px;
}

.search-results .chip {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.search-results .label-1 {
  height: 10px;
  left: 7px;
  letter-spacing: 0.24px;
  position: absolute;
  top: 5px;
}

.search-results .button-remove {
  align-self: center;
  height: 8px;
  margin-left: 12px;
  width: 8px;
}

.search-results .chip-2 {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  height: 20px;
  left: 10px;
  min-width: 122px;
  position: absolute;
  top: 35px;
}

.search-results .overlap-group1-1 {
  height: 16px;
  position: relative;
  width: 96px;
}

.search-results .chip-3 {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  height: 20px;
  left: 90px;
  min-width: 68px;
  position: absolute;
  top: 10px;
}

.search-results .overlap-group2 {
  height: 16px;
  position: relative;
  width: 42px;
}

.search-results .chip-4 {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  height: 20px;
  left: 168px;
  min-width: 61px;
  position: absolute;
  top: 10px;
}

.search-results .overlap-group-3 {
  height: 16px;
  position: relative;
  width: 35px;
}

.search-results .sidebar-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-top: 30px;
  min-height: 62px;
  width: 350px;
}

.search-results .overlap-group-4 {
  border-radius: 5px;
  height: 40px;
  margin-top: 7px;
  position: relative;
  width: 350px;
}

.search-results .input-remove-items-single {
  align-items: center;
  background-color: var(--gray-nurse);
  border-radius: 5px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 0;
  min-width: 350px;
  padding: 0 15px;
  position: absolute;
  top: 0;
}

.search-results .chip-5 {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  height: 20px;
  left: 10px;
  min-width: 61px;
  position: absolute;
  top: 10px;
}

.search-results .chip-6 {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  height: 20px;
  left: 10px;
  min-width: 69px;
  position: absolute;
  top: 10px;
}

.search-results .overlap-group-11 {
  height: 16px;
  position: relative;
  width: 43px;
}

.search-results .chip-7 {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  height: 20px;
  left: 89px;
  min-width: 71px;
  position: absolute;
  top: 10px;
}

.search-results .overlap-group1-2 {
  height: 16px;
  position: relative;
  width: 45px;
}

.search-results .chip-8 {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  height: 20px;
  left: 170px;
  min-width: 86px;
  position: absolute;
  top: 10px;
}

.search-results .overlap-group2-1 {
  height: 16px;
  position: relative;
  width: 60px;
}

.search-results .buttons {
  align-items: center;
  display: flex;
  margin-left: 3px;
  margin-top: 30px;
  min-width: 350px;
}

.search-results .button-save-blueprint {
  align-items: flex-start;
  display: flex;
  height: 12px;
  margin-bottom: 2.05px;
  min-width: 87px;
}

.search-results .vector {
  height: 14px;
  margin-left: -1px;
  margin-top: -1.03px;
  width: 16px;
}

.search-results .save-blueprint {
  color: var(--midnight-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 11px;
  letter-spacing: 0.54px;
  margin-left: 3px;
}

.search-results .button-submit-search {
  align-items: center;
  background-color: var(--midnight-blue);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 34px;
  margin-left: 146px;
  min-width: 117px;
  padding: 0 14.9px;
  transition: all 0.2s ease;
}

.search-results .button-submit-search:hover {
  transform: scale(1.1);
}

.search-results .vector-1 {
  height: 15px;
  margin-top: 1.0px;
  width: 15px;
}

.search-results .search {
  height: 15px;
  letter-spacing: 0.72px;
  margin-bottom: 1.0px;
  margin-left: 10px;
  min-width: 55px;
}

.search-results .results-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  min-height: 700px;
  width: 891px;
}

.search-results .results {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  min-height: 233px;
  width: 887px;
}

.search-results .search-terms {
  align-items: flex-start;
  display: flex;
  min-width: 683px;
}

.search-results .chip-results-date {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  min-width: 283px;
  padding: 0 7px;
}

.search-results .label-4 {
  height: 10px;
  letter-spacing: 0.24px;
  min-width: 30px;
}

.search-results .label-5 {
  height: 10px;
  letter-spacing: 0.24px;
  margin-left: 7px;
  min-width: 93px;
}

.search-results .span {
  letter-spacing: 0.02px;
}

.search-results .vector-2 {
  height: 8px;
  margin-left: 17px;
  width: 13px;
}

.search-results .label-6 {
  height: 10px;
  letter-spacing: 0.24px;
  margin-left: 17px;
  min-width: 92px;
}

.search-results .chip-results {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  margin-left: 8px;
  min-width: 93px;
  padding: 0 7px;
}

.search-results .label-7 {
  height: 10px;
  letter-spacing: 0.24px;
  min-width: 62px;
}

.search-results .label-8 {
  height: 10px;
  letter-spacing: 0.24px;
  margin-left: 7px;
  min-width: 10px;
}

.search-results .chip-results-1 {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  margin-left: 10px;
  min-width: 77px;
  padding: 0 7px;
}

.search-results .label-9 {
  height: 10px;
  letter-spacing: 0.24px;
  min-width: 51px;
}

.search-results .label-10 {
  height: 10px;
  letter-spacing: 0.24px;
  margin-left: 7px;
  min-width: 5px;
}

.search-results .chip-results-2 {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  margin-left: 10px;
  min-width: 123px;
  padding: 0 7px;
}

.search-results .label-11 {
  height: 10px;
  letter-spacing: 0.24px;
  min-width: 60px;
}

.search-results .label-12 {
  height: 10px;
  letter-spacing: 0.24px;
  margin-left: 7px;
  min-width: 42px;
}

.search-results .chip-results-3 {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  margin-left: 10px;
  min-width: 69px;
  padding: 0 7px;
}

.search-results .label-2 {
  height: 10px;
  letter-spacing: 0.24px;
  min-width: 25px;
}

.search-results .label-13 {
  height: 10px;
  letter-spacing: 0.24px;
  margin-left: 7px;
  min-width: 23px;
}

.search-results .search-results-optimized-header {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 17.0px;
  margin-top: 13px;
  min-width: 442px;
}

.search-results .title-our-price {
  align-items: center;
  display: flex;
  min-width: 64px;
}

.search-results .label-14 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 50px;
  white-space: nowrap;
}

.search-results .info {
  height: 10px;
  margin-left: 5px;
  width: 10px;
}

.search-results .title-total {
  align-items: center;
  display: flex;
  margin-left: 48px;
  min-width: 44px;
}

.search-results .label-15 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 30px;
  white-space: nowrap;
}

.search-results .title-their-price {
  align-items: center;
  display: flex;
  margin-left: 72px;
  min-width: 65px;
}

.search-results .label-16 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 51px;
  white-space: nowrap;
}

.search-results .info-1 {
  height: 10px;
  margin-left: 4px;
  width: 11px;
}

.search-results .title-their-total {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 72px;
  min-width: 78px;
}

.search-results .label-17 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 85px;
  white-space: nowrap;
}

.search-results .search-results-optimized-item-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 7px 15px #0000001a;
  display: flex;
  min-width: 887px;
  padding: 0 13px;
}

.search-results .button-heart-empty {
  height: 14px;
  margin-bottom: 2.05px;
  width: 16px;
}

.search-results .overlap-group-5 {
  height: 29px;
  margin-left: 21px;
  margin-top: 1.0px;
  position: relative;
  width: 110px;
}

.search-results .regions {
  height: 16px;
  left: 0;
  letter-spacing: 0.56px;
  position: absolute;
  top: 13px;
  width: 110px;
}

.search-results .provider {
  height: 20px;
  left: 0;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 78px;
}

.search-results .cost {
  height: 50px;
  letter-spacing: 0.50px;
  margin-left: 71px;
  width: 50px;
}

.search-results .cost-1 {
  height: 50px;
  letter-spacing: 0.50px;
  margin-left: 62px;
  width: 41px;
}

.search-results .cost-2 {
  height: 50px;
  letter-spacing: 0.50px;
  margin-left: 71px;
  width: 41px;
}

.search-results .cost-3 {
  height: 50px;
  letter-spacing: 0.50px;
  margin-left: 99px;
  width: 44px;
}

.search-results .button-green {
  align-items: flex-start;
  background-color: var(--japanese-laurel);
  border-radius: 20px;
  display: flex;
  margin-left: 137px;
  margin-top: 1.0px;
  min-width: 92px;
  padding: 0 15px;
}

.search-results .configure {
  height: 25px;
  letter-spacing: 0.54px;
  text-align: center;
  width: 62px;
}

.search-results .search-results-optimized-item {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 7px 15px #0000001a;
  display: flex;
  margin-top: 10px;
  min-width: 887px;
  padding: 0 13px;
}

.search-results .alternatives {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 87px;
  min-height: 325px;
  width: 893px;
}

.search-results .title-1 {
  height: 18px;
  letter-spacing: 2.25px;
}

.search-results .overlap-group10 {
  height: 301px;
  margin-top: 6px;
  position: relative;
  width: 889px;
}

.search-results .overlap-group9 {
  height: 245px;
  left: 0;
  position: absolute;
  top: 0;
  width: 889px;
}

.search-results .alternative-results-header {
  align-items: flex-start;
  background-color: #f7faff;
  display: flex;
  height: 30px;
  left: 0;
  min-width: 889px;
  position: absolute;
  top: 47px;
}

.search-results .overlap-group-12 {
  height: 31px;
  margin-top: -0.5px;
  position: relative;
  width: 889px;
}

.search-results .bottom-border-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 889px;
}

.search-results .dates-2 {
  height: 30px;
  left: 593px;
  letter-spacing: 0.64px;
  position: absolute;
  top: 0;
  width: 44px;
}

.search-results .instances-1 {
  height: 30px;
  left: 424px;
  letter-spacing: 0.64px;
  position: absolute;
  top: 0;
  width: 59px;
}

.search-results .latency-1 {
  height: 30px;
  left: 510px;
  letter-spacing: 0.64px;
  position: absolute;
  top: 0;
  width: 54px;
}

.search-results .type-1 {
  height: 30px;
  left: 358px;
  letter-spacing: 0.64px;
  position: absolute;
  top: 0;
  width: 37px;
}

.search-results .our-price {
  height: 30px;
  left: 197px;
  letter-spacing: 0.64px;
  position: absolute;
  top: 0;
  width: 58px;
}

.search-results .their-price-1 {
  height: 30px;
  left: 275px;
  letter-spacing: 0.64px;
  position: absolute;
  top: 0;
  width: 66px;
}

.search-results .provider-2 {
  height: 30px;
  left: 40px;
  letter-spacing: 0.64px;
  position: absolute;
  top: 0;
  width: 78px;
}

.search-results .top-border {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 889px;
}

.search-results .alternative-results-item {
  align-items: flex-end;
  display: flex;
  height: 60px;
  left: 0;
  min-width: 889px;
  position: absolute;
  top: 131px;
}

.search-results .overlap-group2-2 {
  height: 60px;
  margin-bottom: -0.5px;
  position: relative;
  width: 889px;
}

.search-results .overlap-group1-3 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 889px;
}

.search-results .bottom-border-2 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 59px;
  width: 889px;
}

.search-results .our-price-1 {
  height: 60px;
  left: 197px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 78px;
}

.search-results .their-price-2 {
  height: 60px;
  left: 275px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 48px;
}

.search-results .type-2 {
  height: 60px;
  left: 358px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 49px;
}

.search-results .instances-2 {
  height: 60px;
  left: 424px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 50px;
}

.search-results .latency-2 {
  height: 60px;
  left: 510px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 49px;
}

.search-results .button-green-2 {
  align-items: flex-start;
  background-color: var(--japanese-laurel);
  border-radius: 20px;
  display: flex;
  height: 27px;
  left: 787px;
  min-width: 92px;
  padding: 0 15px;
  position: absolute;
  top: 16px;
}

.search-results .configure-1 {
  height: 27px;
  letter-spacing: 0.54px;
  text-align: center;
  width: 62px;
}

.search-results .overlap-group-13 {
  height: 34px;
  left: 40px;
  position: absolute;
  top: 13px;
  width: 143px;
}

.search-results .provider-3 {
  height: 28px;
  left: 0;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 143px;
}

.search-results .region-region-region-1 {
  height: 17px;
  left: 0;
  letter-spacing: 0.56px;
  position: absolute;
  top: 17px;
  width: 110px;
}

.search-results .dates-3 {
  align-items: center;
  display: flex;
  height: 20px;
  left: 596px;
  min-width: 125px;
  position: absolute;
  top: 20px;
}

.search-results .chip-simple-2 {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  min-width: 35px;
  padding: 0 7px;
}

.search-results .label-18 {
  height: 10px;
  letter-spacing: 0.24px;
  min-width: 21px;
}

.search-results .arrow-1 {
  height: 11px;
  margin-bottom: 2.14px;
  margin-left: 17px;
  width: 20px;
}

.search-results .chip-simple {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  margin-left: 16px;
  min-width: 37px;
  padding: 0 7px;
}

.search-results .label-3 {
  height: 10px;
  letter-spacing: 0.24px;
  min-width: 23px;
}

.search-results .button-heart-empty-2 {
  height: 16px;
  left: 9px;
  position: absolute;
  top: 22px;
  width: 16px;
}

.search-results .alternative-results-item-1 {
  align-items: flex-end;
  display: flex;
  height: 56px;
  left: 0;
  min-width: 889px;
  position: absolute;
  top: 78px;
}

.search-results .overlap-group-6 {
  height: 57px;
  margin-bottom: -0.5px;
  position: relative;
  width: 889px;
}

.search-results .overlap-group-7 {
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 889px;
}

.search-results .bottom-border {
  height: 1px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 889px;
}

.search-results .our-price-2 {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 56px;
  left: 197px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 78px;
}

.search-results .their-price {
  height: 56px;
  left: 275px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 48px;
}

.search-results .type {
  height: 56px;
  left: 358px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 49px;
}

.search-results .instances {
  height: 56px;
  left: 424px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 50px;
}

.search-results .latency {
  height: 56px;
  left: 510px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 49px;
}

.search-results .button-green-1 {
  align-items: flex-start;
  background-color: var(--japanese-laurel);
  border-radius: 20px;
  display: flex;
  height: 25px;
  left: 787px;
  min-width: 92px;
  padding: 0 15px;
  position: absolute;
  top: 15px;
}

.search-results .overlap-group-8 {
  height: 32px;
  left: 40px;
  position: absolute;
  top: 12px;
  width: 143px;
}

.search-results .provider-1 {
  height: 26px;
  left: 0;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 143px;
}

.search-results .region-region-region {
  height: 16px;
  left: 0;
  letter-spacing: 0.56px;
  position: absolute;
  top: 16px;
  width: 110px;
}

.search-results .dates {
  align-items: center;
  display: flex;
  height: 20px;
  left: 595px;
  min-width: 126px;
  position: absolute;
  top: 18px;
}

.search-results .chip-simple-1 {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  min-width: 37px;
  padding: 0 7px;
}

.search-results .arrow {
  height: 10px;
  margin-bottom: 2.0px;
  margin-left: 16px;
  width: 20px;
}

.search-results .button-heart-empty-1 {
  height: 14px;
  left: 9px;
  position: absolute;
  top: 21px;
  width: 16px;
}

.search-results .alternative-results-item-2 {
  align-items: flex-end;
  display: flex;
  height: 56px;
  left: 0;
  min-width: 889px;
  position: absolute;
  top: 189px;
}

.search-results .our-price-3 {
  height: 56px;
  left: 197px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 78px;
}

.search-results .the-following-bluepr {
  left: 0;
  letter-spacing: 1.32px;
  line-height: 26.5px;
  position: absolute;
  top: 0;
  width: 889px;
}

.search-results .alternative-results-item-3 {
  align-items: flex-end;
  display: flex;
  height: 56px;
  left: 0;
  min-width: 889px;
  position: absolute;
  top: 245px;
}

.search-results .our-price-4 {
  color: #dd1a1a;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 56px;
  left: 197px;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 78px;
}

.search-results .dates-4 {
  align-items: center;
  display: flex;
  height: 20px;
  left: 594px;
  min-width: 128px;
  position: absolute;
  top: 18px;
}

.search-results .chip-simple-3 {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  min-width: 39px;
  padding: 0 7px;
}

.search-results .arrow-2 {
  height: 10px;
  margin-bottom: 2.0px;
  margin-left: 15px;
  width: 20px;
}

.search-results .chip-simple-4 {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 2px;
  display: flex;
  height: 20px;
  margin-left: 15px;
  min-width: 39px;
  padding: 0 7px;
}

.search-results .footer {
  align-items: flex-end;
  background-color: var(--blue-whale);
  display: flex;
  flex-direction: column;
  margin-top: 347px;
  min-height: 141px;
  padding: 20px 587px;
  width: 1440px;
}

.search-results .logo-footer {
  align-items: flex-start;
  display: flex;
  margin-top: 19px;
  min-width: 264px;
}

.search-results .copyright {
  align-self: center;
  height: 11px;
  letter-spacing: 0.36px;
  margin-top: 32px;
  min-width: 112px;
}
