/* screen - search-default */

.search-default {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1405px;
  width: 1440px;
}

.search-default .navigation {
  align-items: flex-start;
  background-image: url(../img/nav-container@1x.png);
  background-size: 100% 100%;
  display: flex;
  min-width: 1440px;
}

.search-default .overlap-group-container {
  align-items: center;
  background-image: url(../img/background@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 125px;
  min-width: 1440px;
  padding: 0 50px;
}

.search-default .overlap-group1 {
  height: 39px;
  position: relative;
  width: 263px;
}

.search-default .divider {
  height: 25px;
  left: 261px;
  position: absolute;
  top: 10px;
  width: 2px;
}

.search-default .logo-1 {
  align-items: flex-start;
  display: flex;
  height: 39px;
  left: 0;
  min-width: 262px;
  position: absolute;
  top: 0;
}

.search-default .logo {
  height: 39px;
  width: 50px;
}

.search-default .title-1 {
  height: 38px;
  letter-spacing: 2.00px;
  margin-left: 12px;
  width: 200px;
}

.search-default .agora {
  align-self: center;
  height: 23px;
  letter-spacing: 1.44px;
  margin-left: 15px;
  margin-top: 8.0px;
  min-width: 59px;
}

.search-default .overlap-group-3 {
  border-radius: 20px;
  height: 34px;
  margin-bottom: 1.0px;
  margin-left: 960px;
  position: relative;
  width: 117px;
}

.search-default .get-started {
  height: 15px;
  left: 13px;
  letter-spacing: 0.72px;
  position: absolute;
  top: 9px;
}

.search-default .button {
  border-radius: 20px;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 117px;
}

.search-default .flex-row {
  align-items: flex-start;
  display: flex;
  height: 734px;
  margin-right: 48.0px;
  margin-top: 92px;
  min-width: 1296px;
}

.search-default .overlap-group4 {
  height: 633px;
  position: relative;
  width: 355px;
}

.search-default .sidebar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 633px;
  position: absolute;
  top: 0;
  width: 355px;
}

.search-default .sidebar-title {
  height: 24px;
  letter-spacing: 3.00px;
}

.search-default .dates {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-top: 36px;
  min-height: 78px;
  width: 350px;
}

.search-default .input-label-left-aligned {
  align-items: flex-start;
  display: flex;
  min-width: 350px;
}

.search-default .input-label-left-aligned-1 {
  height: 15px;
  letter-spacing: 0.60px;
  width: 350px;
}

.search-default .form-input-date-empty-container {
  align-items: flex-start;
  display: flex;
  height: 56px;
  margin-top: 7px;
  min-width: 350px;
}

.search-default .form-input-date-empty {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 56px;
  width: 165px;
}

.search-default .input-label-alt {
  height: 12px;
  letter-spacing: 0.50px;
  width: 67px;
}

.search-default .overlap-group {
  align-items: center;
  background-color: var(--gray-nurse);
  border-radius: 5px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-top: 4px;
  min-width: 165px;
  padding: 11px 7px;
}

.search-default .icon-calendar {
  align-self: flex-end;
  height: 17px;
  width: 17px;
}

.search-default .placeholder {
  color: var(--silver-chalice);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 12px;
  letter-spacing: 0.50px;
  margin-left: 9px;
  width: 123px;
}

.search-default .form-input-date-empty-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 56px;
  width: 165px;
}

.search-default .overlap-group2 {
  height: 47px;
  margin-left: 3px;
  margin-top: 30px;
  position: relative;
  width: 350px;
}

.search-default .input-label-center-aligned {
  align-items: flex-start;
  display: flex;
  height: 15px;
  left: 0;
  min-width: 350px;
  position: absolute;
  top: 0;
}

.search-default .input-label-center-aligned-1 {
  height: 15px;
  letter-spacing: 0.60px;
  text-align: center;
  width: 350px;
}

.search-default .range-slider-0 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 35px;
  position: absolute;
  top: 12px;
  width: 350px;
}

.search-default .label-max-value {
  align-self: flex-end;
  height: 8px;
  letter-spacing: 0.35px;
  opacity: 0.5;
  text-align: right;
  width: 54px;
}

.search-default .overlap-group-1 {
  height: 15px;
  position: relative;
  width: 350px;
}

.search-default .container {
  background-color: var(--gray-nurse-2);
  border-radius: 8px;
  height: 7px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 350px;
}

.search-default .container-fill {
  height: 7px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 9px;
}

.search-default .thumb-slider {
  background-color: var(--midnight-blue);
  border-radius: 7.5px;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.search-default .number {
  height: 10px;
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 2px;
  min-width: 6px;
  text-align: center;
}

.search-default .overlap-group1-1 {
  height: 47px;
  margin-left: 3px;
  margin-top: 31px;
  position: relative;
  width: 350px;
}

.search-default .input-label-center-aligned-w-context {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  height: 15px;
  letter-spacing: 0.60px;
  text-align: center;
  width: 350px;
}

.search-default .span0 {
  letter-spacing: 0.07px;
}

.search-default .span1 {
  color: var(--mountain-mist-2);
  font-weight: 400;
  letter-spacing: 0.07px;
}

.search-default .span2 {
  color: var(--silver-chalice);
  font-weight: 400;
  letter-spacing: 0.07px;
}

.search-default .sidebar-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-top: 30px;
  min-height: 62px;
  width: 350px;
}

.search-default .input-empty-collapsed {
  align-items: center;
  background-color: var(--gray-nurse);
  border-radius: 5px;
  display: flex;
  height: 40px;
  margin-top: 7px;
  min-width: 350px;
  padding: 0 10px;
}

.search-default .input-placeholder {
  height: 12px;
  letter-spacing: 0.50px;
  min-width: 152px;
}

.search-default .button-expand {
  height: 9px;
  margin-left: 158px;
  margin-top: 1.0px;
  width: 16px;
}

.search-default .input-placeholder-1 {
  height: 12px;
  letter-spacing: 0.50px;
  min-width: 180px;
}

.search-default .button-expand-1 {
  height: 9px;
  margin-left: 130px;
  margin-top: 1.0px;
  width: 16px;
}

.search-default .input-placeholder-2 {
  height: 12px;
  letter-spacing: 0.50px;
  min-width: 189px;
}

.search-default .button-expand-2 {
  height: 9px;
  margin-left: 121px;
  margin-top: 1.0px;
  width: 16px;
}

.search-default .buttons {
  align-items: center;
  display: flex;
  margin-left: 3px;
  margin-top: 30px;
  min-width: 350px;
}

.search-default .button-save-blueprint {
  align-items: flex-start;
  display: flex;
  height: 12px;
  margin-bottom: 2.05px;
  min-width: 87px;
}

.search-default .vector-1 {
  height: 14px;
  margin-left: -1px;
  margin-top: -1.03px;
  width: 16px;
}

.search-default .save-blueprint {
  color: var(--midnight-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 11px;
  letter-spacing: 0.54px;
  margin-left: 3px;
}

.search-default .button-submit-search {
  align-items: center;
  background-color: var(--midnight-blue);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 34px;
  margin-left: 146px;
  min-width: 117px;
  padding: 0 14.9px;
  transition: all 0.1s ease;
}

.search-default .button-submit-search:hover {
  transform: scale(1.1);
}

.search-default .vector {
  height: 15px;
  margin-top: 1.0px;
  width: 15px;
}

.search-default .search {
  height: 15px;
  letter-spacing: 0.72px;
  margin-bottom: 1.0px;
  margin-left: 10px;
  min-width: 55px;
}

.search-default .button-submit-search-1 {
  align-items: center;
  background-color: var(--midnight-blue);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 34px;
  left: 236px;
  min-width: 117px;
  padding: 0 14.9px;
  position: absolute;
  top: 599px;
  transition: all 0.1s ease;
}

.search-default .button-submit-search-1:hover {
  transform: scale(1.1);
}

.search-default .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  min-height: 674px;
  width: 893px;
}

.search-default .results-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 477px;
  width: 889px;
}

.search-default .overlap-group1-2 {
  height: 139px;
  position: relative;
  width: 889px;
}

.search-default .accelerate-your-abil {
  height: 113px;
  left: 0;
  letter-spacing: 1.32px;
  line-height: 26.5px;
  position: absolute;
  top: 8px;
  width: 889px;
}

.search-default .title-2 {
  height: 18px;
  left: 0;
  letter-spacing: 2.25px;
  position: absolute;
  top: 0;
}

.search-default .learn-more {
  color: #1e6abc;
  font-family: var(--font-family-inter);
  font-size: 11px;
  font-weight: 700;
  left: 0;
  letter-spacing: 1.21px;
  line-height: 30px;
  position: absolute;
  top: 109px;
  white-space: nowrap;
  width: 287px;
}

.search-default .overlap-group2-1 {
  height: 287px;
  margin-top: 51px;
  position: relative;
  width: 893px;
}

.search-default .popular-configurations {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 200px;
  position: absolute;
  top: 87px;
  width: 887px;
}

.search-default .popular-configurations-header {
  align-items: flex-start;
  display: flex;
  margin-left: 33.0px;
  min-width: 458px;
}

.search-default .title-our-price {
  align-items: center;
  display: flex;
  min-width: 64px;
}

.search-default .label {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 50px;
  white-space: nowrap;
}

.search-default .info {
  height: 10px;
  margin-left: 5px;
  width: 10px;
}

.search-default .title-their-price {
  align-items: center;
  display: flex;
  margin-left: 36px;
  min-width: 65px;
}

.search-default .label-1 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 51px;
  white-space: nowrap;
}

.search-default .info-1 {
  height: 10px;
  margin-left: 4px;
  width: 11px;
}

.search-default .title-type {
  align-items: center;
  display: flex;
  margin-left: 36px;
  min-width: 38px;
}

.search-default .label-2 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 24px;
  white-space: nowrap;
}

.search-default .title-instances {
  align-items: center;
  display: flex;
  margin-left: 41px;
  min-width: 68px;
}

.search-default .label-3 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 54px;
  white-space: nowrap;
}

.search-default .title-latency {
  align-items: center;
  display: flex;
  margin-left: 32px;
  min-width: 79px;
}

.search-default .label-4 {
  height: 30px;
  letter-spacing: 0.88px;
  line-height: 30px;
  min-width: 65px;
  white-space: nowrap;
}

.search-default .popular-configurations-item-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 7px 15px #0000001a;
  display: flex;
  min-width: 887px;
  padding: 0 13px;
}

.search-default .button-heart-empty {
  height: 14px;
  margin-bottom: 2.05px;
  width: 16px;
}

.search-default .overlap-group-2 {
  height: 29px;
  margin-left: 21px;
  margin-top: 1.0px;
  position: relative;
  width: 110px;
}

.search-default .regions {
  height: 16px;
  left: 0;
  letter-spacing: 0.56px;
  position: absolute;
  top: 13px;
  width: 110px;
}

.search-default .provider {
  height: 20px;
  left: 0;
  letter-spacing: 0.50px;
  position: absolute;
  top: 0;
  width: 78px;
}

.search-default .cost {
  height: 50px;
  letter-spacing: 0.50px;
  margin-left: 71px;
  width: 50px;
}

.search-default .cost-1 {
  height: 50px;
  letter-spacing: 0.50px;
  margin-left: 46px;
  width: 41px;
}

.search-default .column-type {
  height: 50px;
  letter-spacing: 0.50px;
  margin-left: 63px;
  width: 47px;
}

.search-default .column-instances {
  height: 50px;
  letter-spacing: 0.50px;
  margin-left: 32px;
  width: 40px;
}

.search-default .address {
  height: 50px;
  letter-spacing: 0.50px;
  margin-left: 60px;
  width: 78px;
}

.search-default .button-green {
  align-items: flex-start;
  background-color: var(--japanese-laurel);
  border-radius: 20px;
  display: flex;
  margin-left: 88px;
  margin-top: 1.0px;
  min-width: 92px;
  padding: 0 15px;
}

.search-default .configure {
  height: 25px;
  letter-spacing: 0.54px;
  text-align: center;
  width: 62px;
}

.search-default .popular-configurations-item {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 7px 15px #0000001a;
  display: flex;
  margin-top: 10px;
  min-width: 887px;
  padding: 0 13px;
}

.search-default .intro {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 137px;
  position: absolute;
  top: 0;
  width: 893px;
}

.search-default .title {
  height: 18px;
  letter-spacing: 2.25px;
}

.search-default .recommended-blueprin {
  letter-spacing: 1.32px;
  line-height: 26.5px;
  margin-top: 6px;
  min-height: 113px;
  width: 889px;
}

.search-default .overlap-group5 {
  height: 137px;
  margin-top: 60px;
  position: relative;
  width: 893px;
}

.search-default .convenient-re-orderi {
  letter-spacing: 1.32px;
  line-height: 26.5px;
  margin-top: 6px;
  min-height: 113px;
  width: 889px;
}

.search-default .button-submit-search-2 {
  align-items: center;
  background-color: var(--midnight-blue);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 34px;
  justify-content: flex-end;
  left: 752px;
  min-width: 117px;
  padding: 0 9px;
  position: absolute;
  top: 63px;
  transition: all 0.1s ease;
}

.search-default .button-submit-search-2:hover {
  transform: scale(1.1);
}

.search-default .search-1 {
  cursor: pointer;
  height: 15px;
  letter-spacing: 0.72px;
  margin-bottom: 1.0px;
  margin-left: 10px;
  min-width: 68px;
}

.search-default .footer {
  align-items: flex-end;
  background-color: var(--blue-whale);
  display: flex;
  flex-direction: column;
  margin-top: 313px;
  min-height: 141px;
  padding: 20px 587px;
  width: 1440px;
}

.search-default .logo-footer {
  align-items: flex-start;
  display: flex;
  margin-top: 19px;
  min-width: 264px;
}

.search-default .multiply-force {
  height: 38px;
  letter-spacing: 2.00px;
  margin-left: 12px;
  width: 200px;
}

.search-default .copyright {
  align-self: center;
  height: 11px;
  letter-spacing: 0.36px;
  margin-top: 32px;
  min-width: 112px;
}
