:root { 
  --black: #000000;
  --blue-whale: #002248;
  --celeste: #d0d0d0;
  --chicago: #595959;
  --concrete: #f3f3f3;
  --congress-blue: #013f82;
  --gravel: #4c4c4c;
  --gravel-2: #494949;
  --gray-nurse: #e8e8e84c;
  --gray-nurse-2: #e8e8e8;
  --japanese-laurel: #007c13;
  --lochmara: #007ae1;
  --midnight-blue: #01346c;
  --mountain-mist: #999999;
  --mountain-mist-2: #969696;
  --mystic: #e2ecfb;
  --shark: #242424;
  --silver-chalice: #adadad;
  --silver-chalice-2: #acacac;
  --star-dust: #9e9e9e;
  --white: #ffffff;
 
  --font-size-l: 9px;
  --font-size-m: 8px;
  --font-size-s: 7.5px;
  --font-size-xl: 10px;
  --font-size-xs: 7px;
  --font-size-xxl: 12px;
  --font-size-xxxl: 20px;
 
  --font-family-barlow: "Barlow", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-volkhov: "Volkhov", Helvetica;
}
.inter-medium-gravel-10px {
  color: var(--gravel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-midnight-blue-8px {
  color: var(--midnight-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-black-9px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-star-dust-7px {
  color: var(--star-dust);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-congress-blue-10px {
  color: var(--congress-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-9px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-midnight-blue-12px {
  color: var(--midnight-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-white-9px-2 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-midnight-blue-8px {
  color: var(--midnight-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-congress-blue-8px {
  color: var(--congress-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-silver-chalice-9px {
  color: var(--silver-chalice-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-white-8px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-light-midnight-blue-8px {
  color: var(--midnight-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.inter-extra-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 800;
}

.inter-medium-congress-blue-8px {
  color: var(--congress-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.barlow-bold-white-25px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-silver-chalice-10px {
  color: var(--silver-chalice);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-shark-7px {
  color: var(--shark);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-silver-chalice-8px {
  color: var(--silver-chalice);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-black-9px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-lochmara-8px {
  color: var(--lochmara);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-gravel-20px {
  color: var(--gravel-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-8px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-chicago-12px {
  color: var(--chicago);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-gravel-15px {
  color: var(--gravel-2);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.inter-medium-mountain-mist-10px {
  color: var(--mountain-mist);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-chicago-8px {
  color: var(--chicago);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-silver-chalice-9px-2 {
  color: var(--silver-chalice);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.volkhov-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-volkhov);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-mountain-mist-10px {
  color: var(--mountain-mist-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-light-white-9px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.border-1px-concrete {
  border: 1px solid var(--concrete);
}

.border-1px-white {
  border: 1px solid var(--white);
}
